<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Кітаптар тізімі</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css">
    <link rel="stylesheet" th:href = "@{/css/bootstrap.min.css}" />
    <link rel="Icon" type="img/icon" th:href="@{/images/garland_favicon.png}">
    <header>
        <a href="/"><img th:src="@{/images/logo.png}"></a>
    </header>
</head>
<body>
<nav>
    <ul class="top-menu">
        <li><a href="/demo/all">Авторлар тізімі</a></li>
        <li><a href="/book/main">Кітаптар тізімі</a></li>
    </ul>
</nav>

<div class="container">
    <div class="row">
        <a th:href = "@{/book/add}" class="btn btn-primary btn-lg" role="button">add</a>
        <br/>
        <table class="table">
            <tr>
                <th>Book Name</th>
                <th>Book years</th>
            </tr>
            <tr th:each = "book : ${books}">
                <td th:text = "${book.bookName}">test</td>
                <td th:text = "${book.year}">test</td>
                <td> <a th:href = "@{'/book/deleteBook?id='+${book.id}}">delete</a></td>
            </tr>
        </table>
    </div>
</div>

<script th:src = "@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
</body>
</html>