<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add Student</title>
    <link rel="stylesheet" th:href = "@{/css/}" />
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="form-group">
            <form action="#" th:action="@{/teach/add}" th:object = "${teacher}" method="POST">
                <label for="firstname">First Name</label>
                <input type="text" id="firstname" name="firstname" th:field = "*{firstName}" class="form-control" placeholder="Есімін енгіз" />

                <label for="lastname">Last Name</label>
                <input type="text" id="lastname" name="lastname" th:field = "*{lastName}" class="form-control" placeholder="Тегін енгіз" />

                <label for="baga">Baga</label>
                <input type="baga" id="baga" name="baga" th:field = "*{baga}" class="form-control" placeholder="Багасын енгіз"/>

                <br/>
                <button type="submit" class="btn btn-primary">Сақтау</button>

            </form>
        </div>
    </div>
</div>

<script th:src = "@{/js/}"></script>
<script th:src="@{/js/}"></script>
</body>
</html>